body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #35363a;
    color: white;
}
div,
button {
    font-size: 80px;
    padding: 20px;
}
div {
    margin-top: 100px;
}
